body {
    background-color: white;
    font-size: 20px;
}

.mission-text {
  color: black;
  font-size: 1em;
  text-align: left;
}

body.dark .mission-text {
  color: white;
}

#content{
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.2em;
}
hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 50px;
}
h1, h2, p{
    text-align: center;
    margin-top: 50px;
}
#logos{
    text-align: center;
}
#logo{
    width: 200px;
    height: 200px;
    margin: auto;
}
img{
    width: 50%;
    display: block;
    margin: 50px auto;
}
#topics{
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
li{
    text-align: left;
    margin-left: 20px;
}
ol p {
    text-align: left;
    color: black;
    font-size: 1em;
    margin-top: 0;
}
.background {
    background-color: #000000;
}
.list-intro p {
  color: black;
}

body.dark .list-intro p {
  color: white;
}