@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
header, main, footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: gray;
}
main {
  display: grid;
}
h1, h2 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  object-fit: cover;
}
.image-grid img {
  width: 100%;
  display: block;
  padding: 10px;
}
.picture {
  padding: 10px;
  background-color: white;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.25s;
}
.change .bar1 {
  transform: translate(0, 9.5px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
  transform: translate(0, -9.5px) rotate(45deg);
}
.hide {
  display: none;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
footer {
    text-align: center;
}
@media screen and (min-width: 700px) {
    .image-grid {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
        border-top: none;
    }
    nav {
        text-align: center;
    }
    .hide{
        display: block;
    }
}
@media screen and (min-width: 1000px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}